/* Site specific fonts, colours, and box sizes */
html, body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 90%;
	
	background: #FEFEFE;
}

content {
	background: #FEFEFE;
}

hidden {
	display: none;
}

heading {
	text-transform: uppercase;
}

/* Fonts */
heading, version, copyright,
h1, h2, h3, h4, h5, h6 {
	font-family: Trebuchet MS,  Helvetica, "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
}

navigation {
	font-family: Helvetica, "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
}

/* The site logo */
logo {
	display: block;
	background: url('../images/mkv25-logo.png') no-repeat transparent center center;
	width: 200px;
	height: 80px;
}

logo > a {
	display: block;
	width: 200px;
	height: 85%;
	margin: auto;
}
logo > a:hover {
	border-bottom: 3px solid #88B765;
}

/* Navigation along the top */
navigation {
	border-top: 3px solid #538830;
	background: #FEFEFE;
	height: 80px;
}

navigation > content > links {
	display: block;
	position: absolute;
	top: 15px;
	left: 220px;
	height: 80px;
	z-index: 1;
}

navigation > content > links > a {
	font-size: 14px;
	color: #999;
	padding: 6px 0;
	margin: 0 4px 10px 4px;
	margin: 10px 10px;
	text-transform: uppercase;
	text-decoration: none;
}

navigation > content > links > a:visited {
	text-decoration: none;
	color: #999;
}

navigation > content > links > a:hover {
	color: #538830;
}

navigation > content > heading {
	padding: 5px 0 0 300px;
}

navigation > content > links > a.store {
	display: inline-block;
	font-size: 15px;
	color: white;
	text-transform: none;
	
	padding: 5px 10px;
	background: #FF6611;
	background-image: linear-gradient(to bottom, #FF6611, #FF6655);
	border-radius: 7px;
	border: 1px solid #EE4400;
}

navigation > content > links > a.store:hover {
	background: #FC5500;
	background-image: linear-gradient(to bottom, #FC5500, #FC4400);
}

navigation > content > links > a.store > icon {
	display: inline-block;
	width: 23px;
	height: 19px;
	vertical-align: middle;
	background: transparent url('../images/store.png') no-repeat top left;
}

navigation > content > links > a.login {
	float: right;
	padding: 0;
}

/* Banner image block */
banner {
	display: block;
	position: relative;
	background: #538830 no-repeat center center;
	background-size: cover;
	height: 300px;
	margin-bottom: 10px;
}

banner.home { background-image: url('../images/banner_war.jpg'); }
banner.blog { background-image: url('../images/banner_raindrops.jpg'); }
banner.showcase { background-image: url('../images/banner_showcase.png'); background-size: auto; background-repeat: repeat-x; }
banner.open-source { background-image: url('../images/banner_vines.jpg'); }
banner.forums { background-image: url('../images/banner_wier.jpg'); }
banner.store { background-image: url('../images/banner_splash.jpg'); }
banner.about { background-image: url('../images/banner_fate.jpg'); }
banner.history { background-image: url('../images/banner_doorway.jpg'); }

banner > tint {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	top: 10px;
	height: 280px;
}

banner > group > heading {
	text-transform: none;
	font-size: 52px;
	font-weight: normal;
	color: white;
	padding-top: 80px;
	line-height: 1.3;
	margin-left: 15px;
}

banner > group > p {
	font-size: 28px;
	color: #EFEFEF;
	padding-top: 20px;
	line-height: 1.3;
	margin-left: 15px;
}

/* Short banner variation */
banner.short { height: 100px; }
banner.short > tint { height: 92px; top: 4px; }
banner.short > group > heading {
	font-size: 48px;
	padding-top: 18px;
	white-space: nowrap;
}
banner.short > group > p {
	display: none;
}

/* General styles */
.drop-shadow {
	text-shadow: -1px -1px 0 #666666, 1px -1px 0 #666666, -1px 1px 0 #666666, 1px 1px 0 #666666, 2px 2px 5px rgba(0,0,0,0.8)
}

.center {
	text-align: center;
}

/* Footer */
footer {
	color: #EFEFEF;
	background: #212121;
	background: linear-gradient(to bottom, #333333, #212121);
	padding: 20px;
	border-top: 3px solid #424242;
}

footer > content {
	background: none;
}

footer > content > icons {
	display: block;
	position: absolute;
	margin: 0 auto;
	right: 0;
	top: -13px;
}

/* Icons links */
a.icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	background: transparent no-repeat center center; 
	margin-bottom: 2px;
}

a.icon:hover {
	border-bottom: 2px solid #CACACA;
	margin-bottom: 0;
}

a.github { background-image: url('../images/github_x32.png'); }
a.twitter { background-image: url('../images/twitter_x32.png'); }
a.about { background-image: url('../images/about_x32.png'); }

/* Other specialist tags */
version {
	display: block;
}

copyright {
	display: block;
	text-align: center;
	font-size: 14px;
}

ul > li {
	text-align: left;
}

/* Column styling */
column > heading, content > heading {
	font-size: 150%;
}

column > p, content {
	text-align: justify;
}

column > content > ul.square {
	margin-left: 20px;
}

column > content, content > content {
	background: rgba(0, 0, 0, 0.1);
}

/* Default box sizes */
@media only screen {
	body { }
	column.double > content { height: auto; }
	column.triple > content { height: auto; }
	column.quad > content { height: auto; }
	column > content { overflow: hidden; }
	
	column.quad > content > heading { text-align: center; }
}

/* Portrait design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 999px) {
	body { }
	column.double > content { height: auto; }
	column.triple > content { height: auto; }
	column.quad > content { height: auto; }
	
	column.quad > content > heading { font-size: 130%; }
	
	navigation > content > links > a { }
	navigation > content > links > a.login { display: none; }
	navigation > content > links > a.logout { display: none; }
}

/* Portrait design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body { }
	column.double > content { height: auto; }
	column.triple > content { height: auto; }
	column.quad > content { height: auto; }
	
	column.quad > content > heading { font-size: 130%; }
	logo { height: 70px; }
	
	navigation { height: auto; }
	navigation > content { height: auto; }
	navigation > content > links {
		display: block;
		position: relative;
		height: auto;
		padding: 5px 0;
		margin-bottom: 5px;
		top: auto;
		left: auto;
		background: none;
		border-top: 1px solid #CCC;
	}
	navigation > content > navicon { display: block; position: absolute; top: 10px; right: 0; width: 50px; height: 50px; background: url('../images/navigation.png') no-repeat center center; cursor: pointer; }
	navigation > content > links { background: #FEFEFE; }
	navigation > content > links > a { display: block; text-align: left; border-radius: 8px; margin: 10px 0; }
	navigation > content > links.collapsed { display: none; }
	
	banner > group > heading { font-size: 36px; padding-top: 60px; }
	banner > group > p { font-size: 24px; }
	footer > content > icons { display: block; position: relative; text-align: center; top: 0; left: 0; }
}

/* Portrait design for a width of 320px */
@media only screen and (max-width: 767px) {
	body { }
	column.double > content { height: auto; }
	column.triple > content { height: auto; }
	column.quad > content { height: auto; }
	
	column.quad > content > heading { font-size: 130%; }
	logo { height: 70px; }
	
	navigation { height: auto; }
	navigation > content { height: auto; }
	navigation > content > links {
		display: block;
		position: relative;
		height: auto;
		padding: 5px 0;
		margin-bottom: 5px;
		top: auto;
		left: auto;
		background: none;
		border-top: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
	}
	navigation > content > navicon { display: block; position: absolute; top: 10px; right: 0; width: 50px; height: 50px; background: url('../images/navigation.png') no-repeat center center; cursor: pointer; }
	navigation > content > links { background: #FEFEFE; }
	navigation > content > links > a { display: block; text-align: left; border-radius: 8px; margin: 10px 0; }
	navigation > content > links > a.login { float: none; }
	navigation > content > links.collapsed { display: none; }
	
	banner > group > heading { font-size: 36px; padding-top: 40px; }
	banner > group > p { font-size: 24px; }
	footer > content > icons { display: block; position: relative; text-align: center; top: 0; left: 0; }
}

/* QBB / UBB Code */
div.article.content > p,
div.article.content > h2,
div.article.content > h3,
div.article.content > h4 {
	margin-top: 10px;
}
div.article.content > h2,
div.article.content > h3,
div.article.content > h4 {
	font-size: 145%;
}
blockquote {background-color:#EFEFEF; margin: 0 0 10px 0; padding-bottom: 15px; }
blockquote pre {background-color:#E0E0E0; border-top:solid 2px #999999; margin:0; padding: 0 0 0 10px; overflow: auto;
	font-family: Lucida Console, Courier New, sans-serif; 
	font-style: normal;
	font-size: 12px;
	line-height: 1.7em
 }
.me   {color:red;     font-weight:bold;}
.edit {color:#999999; font-weight:normal; font-family:courier new;font-size:12px;}
a.file { margin: 0; padding: 0; }
a.file > .icon { display: block; width: 16px; height: 16px; float: left; background: url('../images/file_icons.png') no-repeat top left; margin: 3px 5px 3px 10px; }
a.file > .icon > b { display: none; }
a.file > .label { }

/* Showcase icon links */
iconlist { 
	display: block;
	height: 100px;
}
iconlist > a {
	display: inline-block;
	margin-right: 10px;
	padding: 2px;
}
iconlist > a > icon {
	display: block;
	width: 96px;
	height: 96px;
}

iconlist > a:hover {
	background: white;
}