DirectoryIndex site/php/routes/index.php?path=index

<IfModule mod_rewrite.c>
	Require all granted

	RewriteEngine on
	RewriteCond %{HTTP_HOST} ^mkv25.net$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([^?]*)$ site/php/routes/index.php [NC,L,QSA]
	RewriteBase /
</IfModule>

<IfModule mod_rewrite.c>
	Require all granted

	RewriteEngine on
	RewriteCond %{HTTP_HOST} ^localhost|chii$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([^?]*)$ site/php/routes/index.php [NC,L,QSA]
	RewriteBase /mkv25/
</IfModule>
