DirectoryIndex site/php/routes/index.php

Require all granted

RewriteEngine on
RewriteBase /mkv25/

RewriteCond %{HTTP_HOST} ^localhost|chii$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^?]*)$ site/php/routes/index.php [NC,L,QSA]

RewriteCond %{HTTP_HOST} ^localhost|chii$
RewriteRule .* - [E=MKV25_SITE_BASE:/mkv25/]