<forum>
<index>
	<category>
		<heading>Games</heading>
		<subforum>
			<heading>Game Updates</heading>
			<topic>
				<heading><a href="forums/topic/miniature-worlds">Miniature Worlds</a></heading>
			</topic>
			<topic>
				<heading><a href="forums/topic/connected-worlds">Connected Worlds</a></heading>
			</topic>
			<topic>
				<heading><a href="forums/topic/project-maid">Project Maid</a></heading>
			</topic>
		</subforum>
		<subforum>
			<heading>Game Ideas</heading>
			<topic>
				<heading><a href="forums/topic/construct-world-simulator">Construct World Simulator</a></heading>
			</topic>
			<topic>
				<heading><a href="forums/topic/tank-maid">Tank Maid</a></heading>
			</topic>
		</subforum>
	</category>
</index>
</forum>
<style>
	forum > index > category {
		display: block;
	}
	forum > index > category > heading {
	  border-bottom: 1px solid #999;
		padding: 3px 5px 3px 5px;
		font-size: 150%;
	}
	forum > index > category > subforum > heading {
	  border-bottom: 1px solid #999;
		padding: 3px 5px 3px 5px;
		font-size: 125%;
	}
	forum > index > category > subforum > topic > heading {
	  border-bottom: 1px solid #999;
		padding: 3px 5px 3px 5px;
	}
</style>
